

<!-- wp:template-part {"slug":"header","className":"site-header","tagName":"header"} /-->


<!-- wp:bootstrap-basic-fse/blocks-bs-container {"className":"container"} -->
<div class="wp-block-bootstrap-basic-fse-blocks-bs-container container">
    <!-- wp:bootstrap-basic-fse/blocks-bs-row {"className":"gy-4 gy-md-0"} -->
    <div class="wp-block-bootstrap-basic-fse-blocks-bs-row row gy-4 gy-md-0">
        <!-- wp:bootstrap-basic-fse/blocks-bs-column {"tagName":"main","className":"col-md-9"} -->
        <main class="wp-block-bootstrap-basic-fse-blocks-bs-column site-main-column col-md-9">
            <!-- wp:pattern {"slug":"bootstrap-basic-fse/template-query-loop"} /-->
        </main>
        <!-- /wp:bootstrap-basic-fse/blocks-bs-column -->

        <!-- wp:template-part {"slug":"sidebar","className":"site-sidebar col-md-3","tagName":"aside"} /-->
    </div>
    <!-- /wp:bootstrap-basic-fse/blocks-bs-row -->
</div>
<!-- /wp:bootstrap-basic-fse/blocks-bs-container -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
