

<!-- wp:template-part {"slug":"header","className":"site-header","tagName":"header"} /-->


<!-- wp:bbfse-plugin/blocks-bs-container {"className":"container"} -->
<div class="wp-block-bbfse-plugin-blocks-bs-container container">
    <!-- wp:bbfse-plugin/blocks-bs-row {"className":"gy-4 gy-md-0"} -->
    <div class="wp-block-bbfse-plugin-blocks-bs-row row gy-4 gy-md-0">
        <!-- wp:bbfse-plugin/blocks-bs-column {"tagName":"main","className":"col-md-9"} -->
        <main class="wp-block-bbfse-plugin-blocks-bs-column site-main-column col-md-9">
            <!-- wp:post-featured-image {"aspectRatio":"3/1"} /-->

            <!-- wp:post-title {"level":1,"className":"h1"} /-->

            <!-- wp:post-content {"className":"mt-0"} /-->
        </main>
        <!-- /wp:bbfse-plugin/blocks-bs-column -->

        <!-- wp:template-part {"slug":"sidebar","className":"site-sidebar col-md-3","tagName":"aside"} /-->
    </div>
    <!-- /wp:bbfse-plugin/blocks-bs-row -->
</div>
<!-- /wp:bbfse-plugin/blocks-bs-container -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
