

<!-- wp:template-part {"slug":"header","className":"site-header","tagName":"header"} /-->


<!-- wp:bbfse-plugin/blocks-bs-container {"className":"container"} -->
<div class="wp-block-bbfse-plugin-blocks-bs-container container">
    <!-- wp:bbfse-plugin/blocks-bs-row -->
    <div class="wp-block-bbfse-plugin-blocks-bs-row row">
        <!-- wp:bbfse-plugin/blocks-bs-column {"tagName":"main","className":"col12"} -->
        <main class="wp-block-bbfse-plugin-blocks-bs-column site-main-column col-12">
            <!-- wp:post-featured-image {"aspectRatio":"3/1"} /-->

            <!-- wp:post-title {"level":1,"className":"h1"} /-->

            <!-- wp:post-content {"className":"mt-0"} /-->
        </main>
        <!-- /wp:bbfse-plugin/blocks-bs-column -->
    </div>
    <!-- /wp:bbfse-plugin/blocks-bs-row -->
</div>
<!-- /wp:bbfse-plugin/blocks-bs-container -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
