

<!-- wp:template-part {"slug":"header","className":"site-header","tagName":"header"} /-->


<!-- wp:bbfse-plugin/blocks-bs-container {"className":"container"} -->
<div class="wp-block-bbfse-plugin-blocks-bs-container container">
    <!-- wp:bbfse-plugin/blocks-bs-row -->
    <div class="wp-block-bbfse-plugin-blocks-bs-row row">
        <!-- wp:bbfse-plugin/blocks-bs-column {"tagName":"main","className":"col-md-12"} -->
        <main class="wp-block-bbfse-plugin-blocks-bs-column site-main-column col-md-12">
            <!-- wp:group {"className":"mb-5"} -->
            <div class="wp-block-group mb-5">
                <!-- wp:query-title {"type":"search","className":"display-6 mb-1"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:pattern {"slug":"bootstrap-basic-fse/hidden-search"} /-->

            <!-- wp:pattern {"slug":"bootstrap-basic-fse/template-query-loop-search"} /-->
        </main>
        <!-- /wp:bbfse-plugin/blocks-bs-column -->
    </div>
    <!-- /wp:bbfse-plugin/blocks-bs-row -->
</div>
<!-- /wp:bbfse-plugin/blocks-bs-container -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
