

<!-- wp:template-part {"slug":"header","className":"site-header","tagName":"header"} /-->


<!-- wp:rundizstrap-companion/blocks-bs-container {"className":"container"} -->
<div class="wp-block-rundizstrap-companion-blocks-bs-container container">
    <!-- wp:rundizstrap-companion/blocks-bs-row {"className":"gy-5 gy-md-0"} -->
    <div class="wp-block-rundizstrap-companion-blocks-bs-row row gy-5 gy-md-0">
        <!-- wp:rundizstrap-companion/blocks-bs-column {"tagName":"main","className":"col-md-9"} -->
        <main class="wp-block-rundizstrap-companion-blocks-bs-column site-main-column col-md-9">
            <!-- wp:post-title {"level":1,"className":"h1"} /-->

            <!-- wp:post-featured-image {"aspectRatio":"3/1"} /-->

            <!-- wp:pattern {"slug":"rundizstrap/hidden-post-date-author"} /-->

            <!-- wp:post-content {"className":"mt-0 mb-4"} /-->

            <!-- wp:pattern {"slug":"rundizstrap/hidden-post-taxonomy"} /-->

            <!-- wp:pattern {"slug":"rundizstrap/comments"} /-->

            <!-- wp:pattern {"slug":"rundizstrap/post-navigation"} /-->
        </main>
        <!-- /wp:rundizstrap-companion/blocks-bs-column -->

        <!-- wp:template-part {"slug":"sidebar","className":"site-sidebar col-md-3","tagName":"aside"} /-->
    </div>
    <!-- /wp:rundizstrap-companion/blocks-bs-row -->
</div>
<!-- /wp:rundizstrap-companion/blocks-bs-container -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
